* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 400 14px/1.5 'Source Sans Pro', Open Sans, Roboto, 'San Francisco', Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    background-color: #fff;
}